.list {
    padding-top: 30px;
}

.item {
    font-family: 'Quando';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    background: #f8f6f6;  
    margin-bottom: 21px;  
    padding: 16px 0 8px 89px;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    position: relative;
}
