.content {
  padding: 48px 52px 160px 52px;
}

.title {
  font-family: 'Quando';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 15px;
}

.text,
 span {
  font-family: 'Quando';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.7);
  margin: 8px 0;
}

span {
  font-weight: 700;
}
